<div class="row ">
    <form method="post">

        <div class="row">
                <input id='checked_devices' name='checked_devices'>
                <input type="hidden" id='unchecked_devices' name='unchecked_devices' value="abc" />
                
            <br>
            <br>
            <br>
            <input type="hidden" id="deviceids_json" name="deviceids_json">
            <input type="hidden" id="days" name="days">
            <div id="checkboxes">
                <label class="checkbox-inline"><input id = "m" type="checkbox" value="">Mon</label>
                <label class="checkbox-inline"><input id = "t" type="checkbox" value="">Tues</label>
                <label class="checkbox-inline"><input id = "w" type="checkbox" value="">Wed</label>
                <label class="checkbox-inline"><input id = "th" type="checkbox" value="">Thurs</label>
                <label class="checkbox-inline"><input id = "f" type="checkbox" value="">Fri</label>
                <label class="checkbox-inline"><input id = "sa" type="checkbox" value="">Sat</label>
                <label class="checkbox-inline"><input id = "s" type="checkbox" value="">Sun</label>
            </div>
        </div>
        <!-- row ends-->
        <br>
        <br>
        <div class="row input-group">
            <label>Frequency(in Hours)</label>

            <div class="input-group">

                <select name="freq" class=" col-md-3 form-control" id="sel1">
                        <option selected disabled>Select duration</option>
                        <option>0.30</option>
         <option>1.00</option>
        <option>2.00</option>
        <option>3.00</option>
        <option>4.00</option>
            </select>
            </div>
            <!-- form-group ends-->

        </div>
        <!-- row ends-->
        <br>
        <label>From: </label>
        <div class="row">
            <div class="col-md-3 ">

                <select name="hour" class="form-control" id="hour">
                        <option selected disabled>hh</option>
                        <% for (let count = 0; count < 12; count++) {if(count<10){%>
                                
                                                                <option>
                                                                      0<%= count %>
                                                                           
                                                                </option>
                                                                <% }else{%>
                                                            <option>
                                                                    <%= count %>
                                                                       
                                                            </option>
                                                            <% }}%>  
        </select>
            </div>
            <div class=" col-md-3 ">
                <select name="mins" class="form-control" id="min">
                        <option selected disabled>mm</option>
                        <% for (let count = 0; count < 60; count++) {if(count<10){%>
                                
                                                                <option>
                                                                      0<%= count %>
                                                                           
                                                                </option>
                                                                <% }else{%>
                                                            <option>
                                                                    <%= count %>
                                                                       
                                                            </option>
                                                            <% }}%>
   
        </select>
            </div>
        </div>
        <!-- time selection from ends -->
        <br>
        <label>To: </label>
        <div class="row">
            <div class="col-md-3 ">

                <select name="hour1" class="form-control" id="hour1">
                        <option selected disabled>hh</option>
                        <% for (let count = 0; count < 12; count++) {if(count<10){%>
                                
                                                                <option>
                                                                      0<%= count %>
                                                                           
                                                                </option>
                                                                <% }else{%>
                                                            <option>
                                                                    <%= count %>
                                                                       
                                                            </option>
                                                            <% }}%>
        </select>
            </div>
            <div class=" col-md-3 ">
                <select name="mins1" class="form-control" id="min1">
                        <option selected disabled>mm</option>
                        <% for (let count = 0; count < 60; count++) {if(count<10){%>

                                <option>
                                      0<%= count %>
                                           
                                </option>
                                <% }else{%>
                            <option>
                                    <%= count %>
                                       
                            </option>
                            <% }}%>
    
   
        </select>
            </div>
        </div>
        
        <br/>
        <br/>
        <div class="col-lg-12">
            <div class="table-responsive col-sm-12" style="width: 100%;">
                <table class="table table-bordered table-striped example">
                    <thead>
                        <tr>
                            <th>Device name</th>
                            <th class="text-center">Geofence</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td class="text-center">
                                <label class="switch">
                                                    
                                                    <input  id="selectAll"  type="checkbox" >
                                                      <span class="slider round"></span>
                                                  </label>

                            </td>
                        </tr>
                        <% for (let count = 0; count < devices.length; count++) { %>
                            <tr>
                                <td>
                                    <%= devices[count].device_name %>
                                </td>
                                <td class="text-center">
                                    <label class="switch">
                                                    <%if(devices[count].is_reporting ==true){ %>
                                                    <input class="aq" name = "check" id=<%=devices[count].device_iccid %> onclick="reply_click(this.id)" type="checkbox" checked>
                                                    <% } else {%>
                                                        <input class="aq" name = "check" id=<%=devices[count].device_iccid %>  onclick="reply_click(this.id)" type="checkbox" >
                                                        <% } %>
                                                    <span class="slider round"></span>
                                                  </label>
                                </td>
                                <% }%>
                    </tbody>
                </table>
            </div>
            </div>

            <button class=" btn-success btn-lg ">Submit</button>
    </form>

    <% if(title == "update failed"){ %>
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Error!</strong>
            <%= message%>
        </div>
        <% } %>


            <script src="/javascripts/jquery.js ">
            </script>

            <script>
                var checked_items = [];
        var unchecked_items = [];
        $(function () {
            $("#selectAll").click(function () {
                if (this.checked) // if select all 
                {
                    checkboxes = document.getElementsByName('check');
                    for (var i = 0, n = checkboxes.length; i < n; i++) {
                        checkboxes[i].checked = true;
                    }
                } else {
                    checkboxes = document.getElementsByName('check');
                    for (var i = 0, n = checkboxes.length; i < n; i++) {
                        checkboxes[i].checked = false;
                    }
                }
                console.log("checked" + this.checked);
            });

            $(".aq:checked").each(function () {
                //  console.log($(this).attr('id'));
                //  alert($(this).attr('id'));
                var id = $(this).attr('id');
                checked_items.push(id);
            });
            $(".aq:not(:checked)").each(function () {
                console.log($(this).attr('id'));
                var id = $(this).attr('id');
                unchecked_items.push(id);
            });
            updateJSONArrays(checked_items, unchecked_items);
        });

        function reply_click(clicked_id) {
            var id = clicked_id;
            var value = document.getElementById(id).checked;
            if (value) {
                if (checked_items.indexOf(id) == -1) {
                    checked_items.push(id);
                    unchecked_items.splice(unchecked_items.indexOf(id), 1);
                }
                console.log("@@@@@@@checekd ############");
            } else {
                if (unchecked_items.indexOf(id) == -1) {
                    unchecked_items.push(id);
                    checked_items.splice(checked_items.indexOf(id), 1);
                    console.log(")))))))))))))))" + id);
                }
                console.log("not checked &&& ############");
            }
            console.log("called ############");
            console.log(checked_items.toString());
            updateJSONArrays(checked_items, unchecked_items);
        }
        // });
        function updateJSONArrays(checked_items, unchecked_items) {
            console.log("function update called::: ");
            $('#checked_devices').val(JSON.stringify(checked_items, null, ''));
            $('#unchecked_devices').val(JSON.stringify(unchecked_items, null, ''));
        }</script>

            </div>