<div class="row ">
    <form method="post">

        <div class="row">
            <!--      <div class="weekDays-selector">
                <h4 class="text_black">
                    Select Days </h4>
                <h5 id="deviceids-json"></h5>
                <h5 id="days-json"></h5>
                <input type="checkbox" id="weekday-mon" class="weekday" />
                <label for="weekday-mon">Mon</label>
                <input type="checkbox" id="weekday-tue" class="weekday" />
                <label for="weekday-tue">Tues</label>
                <input type="checkbox" id="weekday-wed" class="weekday" />
                <label for="weekday-wed">Wed</label>
                <input type="checkbox" id="weekday-thu" class="weekday" />
                <label for="weekday-thu">Thurs</label>
                <input type="checkbox" id="weekday-fri" class="weekday" />
                <label for="weekday-fri">Fri</label>
                <input type="checkbox" id="weekday-sat" class="weekday" />
                <label for="weekday-sat">Sat</label>
                <input type="checkbox" id="weekday-sun" class="weekday" />
                <label for="weekday-sun">Sun<un/label>

           
        </div><!-- weekDays-selector ends-->-->
            <br>
            <br>
            <br>
            <input type="hidden" id="deviceids_json" name="deviceids_json">
            <input type="hidden" id="days" name="days">
            <div id="checkboxes">
                <label class="checkbox-inline"><input id = "m" type="checkbox" value="">Mon</label>
                <label class="checkbox-inline"><input id = "t" type="checkbox" value="">Tues</label>
                <label class="checkbox-inline"><input id = "w" type="checkbox" value="">Wed</label>
                <label class="checkbox-inline"><input id = "th" type="checkbox" value="">Thurs</label>
                <label class="checkbox-inline"><input id = "f" type="checkbox" value="">Fri</label>
                <label class="checkbox-inline"><input id = "sa" type="checkbox" value="">Sat</label>
                <label class="checkbox-inline"><input id = "s" type="checkbox" value="">Sun</label>
            </div>
        </div>
        <!-- row ends-->

        <div class="row input-group">
            <h5>Frequency(in Hours)</h5>

            <div class="input-group">
                <label for="sel1">Select hours:</label>
                <select name="freq" class="form-control" id="sel1">
                        <option>0.30</option>
         <option>1.00</option>
        <option>2.00</option>
        <option>3.00</option>
        <option>4.00</option>
            </select>
            </div>
            <!-- form-group ends-->

        </div>
        <!-- row ends-->
        <br>
        <label>From: </label>
        <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker1" name="timepicker1" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
        <br/>
        <label>To: </label>
        <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker2" name="timepicker2" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
        <br/>
        <br/>
        <div class="col-lg-12">
            <div class="well verticalSpace">
                <ul id="check-list-box" class="list-group checked-list-box">
                    <% for (let count = 0; count < devices.length; count++) { %>
                        <!--         <a href="/device/<%= devices[count].device_iccid %>" class="list-group-item list-group-item-action">
                        <%= devices[count].device_name %>
                    </a> -->
                        <li class="list-group-item">
                            <%= devices[count].device_name %>
                                <label class="text_transparent">
                                <%= devices[count].device_iccid %>
                                    </label>
                        </li>

                        <% } %>

            </div>

            <button class=" btn-success btn-lg ">Submit</button>
    </form>

    <% if(title == "update failed"){ %>
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Error!</strong>
            <%= message%>
        </div>
        <% } %>


            <script src="/javascripts/jquery.js ">
            </script>

            <script src="/javascripts/bootstrap-timepicker.min.js ">
            </script>





            <script type="text/javascript">
                $('#timepicker1').timepicker({
                    showInputs: true
                });
                $('#timepicker2').timepicker({
                    showInputs: true
                });
            </script>

            </div>