<div class="row ">
    <form method="post">

        <div class="row">
            <div class="weekDays-selector">
                <h4 class="text_black">
                    Select Days </h4>
                <h5 id="display-json"></h5>
                <input type="checkbox" id="weekday-mon" class="weekday" />
                <label for="weekday-mon">Mon</label>
                <input type="checkbox" id="weekday-tue" class="weekday" />
                <label for="weekday-tue">Tues</label>
                <input type="checkbox" id="weekday-wed" class="weekday" />
                <label for="weekday-wed">Wed</label>
                <input type="checkbox" id="weekday-thu" class="weekday" />
                <label for="weekday-thu">Thurs</label>
                <input type="checkbox" id="weekday-fri" class="weekday" />
                <label for="weekday-fri">Fri</label>
                <input type="checkbox" id="weekday-sat" class="weekday" />
                <label for="weekday-sat">Sat</label>
                <input type="checkbox" id="weekday-sun" class="weekday" />
                <label for="weekday-sun">Sun<un/label>

           
        </div><!-- weekDays-selector ends-->
        </div><!-- row ends-->
     
        <div class="row input-group">
        <h5>Frequency(in Hours)</h5>

        <div class="input-group">
        <label for="sel1">Select hours:</label>
                <select class="form-control" id="sel1">
         <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
            </select>
            </div>
            <!-- form-group ends-->

        </div>
        <!-- row ends-->
        <br>
        <label>From: </label>
        <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker1" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
        <br/>
        <label>To: </label>
        <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker2" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
        <br/>
        <br/>
        <div class="col-lg-12">
            <div class="well verticalSpace">
                <ul id="check-list-box" class="list-group checked-list-box">
                    <% for (let count = 0; count < devices.length; count++) { %>
                        <!--         <a href="/device/<%= devices[count].device_iccid %>" class="list-group-item list-group-item-action">
                        <%= devices[count].device_name %>
                    </a> -->
                        <li class="list-group-item">
                            <%= devices[count].device_name %>
                                <label type="hidden"><%= devices[count].device_iccid %></label>
                        </li>

                        <% } %>

            </div>

            <button class=" btn-success btn-lg ">Submit</button>
    </form>

    <% if(title == "update failed"){ %>
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Error!</strong>
            <%= message%>
        </div>
        <% } %>







            <script src="/javascripts/jquery.js ">
            </script>

            <script src="/javascripts/bootstrap-timepicker.min.js ">
            </script>





            <script type="text/javascript">
                $('#timepicker1').timepicker({
                    showInputs: true
                });
                $('#timepicker2').timepicker({
                    showInputs: true
                });
            </script>

            </div>