<div>
    <br>
    <br>
    <br>
    <label id="jsonresp" style="height:0px;"><%= JSON.stringify(report)%></label>
    <header class="page-header">
        <h3>Movement History</h3>
    </header>

    <div class="row">
        <form method="post">
            <!--  <label><%= t%></label> -->
            <div class="col-sm-9">

                <select class="col-sm-3" name="deviceId">
            <option disabled>Select Device</option>
                <% for (let count = 0; count < devices.length; count++) { 
                    
                    %>
            <option value="<%= devices[count].device_iccid %>">
                    <%= devices[count].device_name %>
                  
                              
            </option>
            <% }%>
            <% if(daterange == null || daterange == ''){
                daterange='08/01/2017 - 08/31/2017';
            } %>
        </select>
                <div class="col-sm-1"></div>
                <input class="col-sm-5" type="text" id="daterange" name="daterange" value="<%= daterange %>" />
                <div class="col-sm-1"></div>
                <button class=" btn-success btn-sm ">Search</button>
            </div>
        </form>
    </div>
    <br>




    <% if(title == "no reports"){ %>
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Error!</strong>
            <%= message%>
        </div>
        <% } %>
            <!--         ********** MAP DIV  **********   
            <div class="row">
                <div class="col-sm-12" id="map">

                </div>
            </div> -->
            <!--         ********** MAP DIV  **********    -->
            <br>

            <!--         ********** HISTORY DIV  **********    -->
            <div class="row">
                <div class="col-sm-12">
                    <ul class="timeline">

                    </ul>
                </div>
            </div>
            <!--         ********** HISTORY DIV  **********    -->

            <!-- Include Required Prerequisites -->
            <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

            <!-- Include Date Range Picker -->
            <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
            <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
            <script src="https://cdn.jsdelivr.net/momentjs/2.18.1/moment.min.js">
            </script>

            <script>
                var $j = jQuery.noConflict();
                $j('input[name="daterange"]').daterangepicker();

                var htmString = document.getElementById('jsonresp').innerHTML;

                origJSON = JSON.parse(htmString);
                console.log(origJSON + " >>>> ");
                if ((origJSON == null || origJSON == undefined || origJSON == '')) {
                    //  showErrorMessage();
                } else {
                    var dd = [];
                    // var json = [];
                    var lastDate = null;
                    var i = 1;

                    var newJson = '{"report"' + ':[';
                    var objectsArr = [];

                    for (j = 0; j < origJSON.report.length; j++) {

                        var iii = origJSON.report[j].report_time * 1000; // to convert it into date format
                        var date1 = moment(iii).format("MMMM DD,YYYY");



                        // lastDate = date1; // update last date 
                        var time = moment(iii).format("hh:mm a");


                        /********************** for new json object ****************/
                        var lat = origJSON.report[j].latitude;
                        var lng = origJSON.report[j].longitude;
                        var unix_time = origJSON.report[j].report_time;
                        var title_date = '"' + date1 + '"';
                        var time_body = '"' + time + '"';
                        var addr = [];
                        var format_add = origJSON.report[j].formatted_address;
                        var address1, address2;
                        if (format_add != null) {
                            addr = origJSON.report[j].formatted_address.split(",");
                            address1 = '"' + addr[0] + ' ' + addr[1] + '"';
                            address2 = '"' + addr[2] + ' ' + addr[3] + '"';
                        } else {
                            address1 = '';
                            address2 = '';
                        }
                        var jsonObj = '{';
                        jsonObj = jsonObj + '"unix_time"' + ':' + unix_time + ',';
                        jsonObj = jsonObj + '"latitude"' + ':' + lat + ',';
                        jsonObj = jsonObj + '"longitude"' + ':' + lng + ',';
                        jsonObj = jsonObj + '"title_date"' + ':' + title_date + ',';
                        jsonObj = jsonObj + '"time_body"' + ':' + time_body + ',';
                        jsonObj = jsonObj + '"address1"' + ':' + address1 + ',';
                        jsonObj = jsonObj + '"address2"' + ':' + address2 + '}';

                        objectsArr.push(jsonObj);
                    }

                    newJson = newJson + objectsArr + ']}';

                    /********************** for new json object ends****************/

                    /********************** set divs according to new json object ****************/
                    var newJsonArr = JSON.parse(newJson);
                    /********************** set divs according to new json object ends ****************/

                    var addHtml;
                    var lastDate = null;
                    for (j = 0; j < newJsonArr.report.length; j++) {

                        var newDate = newJsonArr.report[j].title_date;
                        if (lastDate == newDate) // add data without title
                        {

                            if (j % 2 != 0) // even div
                            {
                                addTimeInforDivEven(newJsonArr.report[j].time_body, newJsonArr.report[j].address1, newJsonArr.report[j].address2);
                            } else { // odd div

                                addTimeInforDivodd(newJsonArr.report[j].time_body, newJsonArr.report[j].address1, newJsonArr.report[j].address2);
                            }

                        } else { // add data with title

                            addDateHeading(newDate);
                            // if (j % 2 == 0) // even div
                            // {
                            //     addTimeInforDivEven(origJSON.report[j].time_body, origJSON.report[j].address1, origJSON.report[j].address2);
                            // } else { // odd div

                            addTimeInforDivodd(newJsonArr.report[j].time_body, newJsonArr.report[j].address1, newJsonArr.report[j].address2);
                            // }

                        }
                        lastDate = newDate;

                        $j('.timeline').html(addHtml);
                    }

                    function addDateHeading(dateTitle) {
                        var html = ' <li>                <div class="tldate">' + dateTitle + '</div>            </li>  ';
                        if (addHtml == null) {
                            addHtml = html;
                        } else {
                            addHtml = addHtml + html;
                        }
                    }

                    function addTimeInforDivodd(time, address1, address2) {
                        // html1 for odd indexes
                        var html1 = '<li>' +
                            '<div class="tl-circ"></div>' +
                            '<div class="timeline-panel">' +
                            '<div class="tl-heading">' +
                            '<h4>' + address1 + '</h4>' +
                            ' <p><small class="text-muted"><i class="glyphiconglyphicon-time"></i> ' + time + '</small></p>' +
                            ' </div>' +
                            '<div class="tl-body">' +
                            '<p>' + address2 + '</p>' +
                            ' </div>' +
                            ' </div>' +
                            '</li>';

                        addHtml = addHtml + html1;
                    }

                    function addTimeInforDivEven(time, address1, address2) {
                        // html1 for odd indexes
                        var html1 = '<li class="timeline-inverted">' +
                            '<div class="tl-circ"></div>' +
                            '<div class="timeline-panel">' +
                            '<div class="tl-heading">' +
                            '<h4>' + address1 + '</h4>' +
                            ' <p><small class="text-muted"><i class="glyphiconglyphicon-time"></i> ' + time + '</small></p>' +
                            ' </div>' +
                            '<div class="tl-body">' +
                            '<p>' + address2 + '</p>' +
                            ' </div>' +
                            ' </div>' +
                            '</li>';

                        addHtml = addHtml + html1;
                    }

                    var map;

                    function initMap() {


                        var directionsService = new google.maps.DirectionsService;
                        var directionsDisplay = new google.maps.DirectionsRenderer;



                        map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 20,
                            center: {
                                //  lat: 43.775293,
                                //  lng: -79.257825
                                lat: newJsonArr.report[0].latitude,
                                lng: newJsonArr.report[0].longitude
                            },
                            mapTypeId: google.maps.MapTypeId.roadmap

                        });
                        // map.setTilt(45);



                        var path = [];
                        for (let markerCount = 0; markerCount < newJsonArr.report.length; markerCount++) {

                            path.push(new google.maps.LatLng(newJsonArr.report[markerCount].latitude, newJsonArr.report[markerCount].longitude));
                            var marker1 = new google.maps.Marker({
                                position: {
                                    lat: newJsonArr.report[markerCount].latitude,
                                    lng: newJsonArr.report[markerCount].longitude
                                },

                                map: map,
                                title: newJsonArr.report[markerCount].address1
                            });
                            marker1.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
                        }

                        var flightPath = new google.maps.Polyline({
                            path: path,
                            strokeColor: "#0000FF",
                            strokeOpacity: 0.8,
                            strokeWeight: 3
                        });
                        flightPath.setMap(map);
                    }

                    // function showErrorMessage(msg) {
                    //     var html = '<div class="alert alert-danger alert-dismissable">' +
                    //         '<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>' +
                    //         '<strong>Error!</strong>' +
                    //         +msg +
                    //         '</div>';
                    // }

                }


                // button click function

                //    $("#myModal").modal('show');
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4CxwlDf09EE5-hIhqyMRuVZpRlK6K3PE&callback=initMap" async>
            </script>